@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;

}

body{
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #ffffff;
}
.container {
    max-width: 1600px;
    margin: 0 auto;

}

.header {
    background-image: url(ellos.jpg);        
    background-position: center top ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 90vh;
    display: flex;
    align-items: center;

}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #9D0F09;
}


.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 20px;
    padding: 20px 20px;
    color: #FFFFFF;
    display: block;
    margin-right: 20px;
    

}
.menu .navbar ul li a:hover {
    color:#FFFFFF ;
    background:#680D0D ;
}


.menu label {
    cursor: pointer;
    display: none;
}

.menu-stanford img{ 
     margin-left: 30px;
}
.header-txt {
    text-align: center;
    
    margin-top: 30px;
    text-align: center;
    
    margin-top: 20px;
}

.header-txt h1, span, h3 {
   font-size: 100px;
   letter-spacing: 5px;
   text-transform: uppercase;
   font-family: 'Alegreya Sans SC', sans-serif;
   color: #000000;
   margin-bottom: 15px;

}
.header-txt span {
    font-size: 25px;
}

.header-txt p {
    color: #000000;
    padding: 0 250px;
    margin: 25px 0;
    text-align: justify;
}


.header-dir {
   display: flex;
    

}

.dir h3 {
    font-size: 18px;

}

.dir p {
    
    color: #FFFFFF;
    text-transform: uppercase;
}

.welcome {
    display: flex;
}

.welcome-1{

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   transition: 15s; 
    width: 0%;
}

.welcome-2 {
    width: 100%;
    padding: 50px 100px 50px 50px;
    background-color: #9D0F09;
    text-align: center;

}

.personal-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
    font-size: 50px;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.personal-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

}

.personal-1 {
    text-align: center;
}

.personal-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 25px;
    transition: all 0.5s ease;

}
.personal-1 img:hover{
transform: scale(0.9);
}

.personal-1 h3 {
    font-size: 22px;
}



.personal-1 a {
    color: #faf7f7;
}

.footer-bg {
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px 0;
}

h2 {
    font-size: 60px;
    line-height: 100px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-bottom: 20px;

}

p {
    font-size: 16px;
    color: #ffffff;
    margin: 25px 0;
    text-align: justify;

}



.alumnos-group{
    width: 100%;
    height: 30px;
    padding: 50px;
    background:#680D0D ;
    ;
    display: flex;
}

.alumnos-txt{
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin: -40px 15px; 
}

.alumnos-txt2{
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin: -40px 15px;
    margin-left: 10cm;
}

.alumnos-txt3{
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin: -40px 15px;
    margin-left: 10cm;
}

.services {
    padding: 100px 0;
    text-align: center;

}

.services-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 150px;
}

hr {
    border: 1px solid #CF2D3A;
    width: 500px;

}
.services-txt h2 {
    padding: 20px 100px;
    color: #000000;
    text-align: center;

}

.services-group {
    display: flex;
    justify-content: space-between;
    margin: px 0;
    margin-bottom: 60px;
}

.services-1 {
    background-color: #070707;
    padding: 20px 20px;
    margin: 10px 10px;
    border-radius: 15px;
    
}

.services-1 img {
    width: 350px;
    margin: 10px;
    transition: all 0.5s ease;
    border-radius: 10%;
}

.services-1 img:hover{
    transform: scale(0.6);
}

.services-1 h3 {
    font-size: 25px;
    color:#FFFFFF;
}

.services-1 a {
    color: #CF2D3A;
    font-size: 16px;
}

.prices {
    display: flex;
}

.prices-1 {
    width: 50%;
    padding: 150px 250px 150px 100px;
    background-color: #191919;

}

table {
    margin: 50px 0;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

tr {
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #AFAFAF ;
    margin-bottom: 20px;

}

th {
    color: #FFFFFF;
    padding-bottom: 15px;
}
td {
    color: #CF2D3A;
}

.prices-2{
      background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 50%;

}

.personal {
    padding: 100px 0;
    text-align: center;
}

.personal-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
}

.personal-1 {
    text-align: center;
    padding: 20px;
    
    
  
}

.personal-1 h3{
margin-top: 8%;
}









.personal-group-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

}

.personal-2 {
    text-align: center;
    padding: 20px;
}

.personal-2 img {
    width: 350px;
    border-radius: 15px;
    margin-bottom: 25px;
    margin-right: 2cm; 
   transition: all 0.5s ease;
}

.personal-2 img:hover{
    transform: scale(0.9);
}

.personal-2 h3 {
    font-size: 22px;
    color: #000000;
    margin-top: 30px;
    text-align: center;
}







.personal-group-3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

}

.personal-3 {
    text-align: center;
    padding: 20px;
}

.personal-3 img {
    width: 350px;
    border-radius: 15px;
    margin-bottom: 25px;
   margin-left: 1cm; 
   margin-right: 2cm;
  transition: all 0.5s ease;
}

.personal-3 img:hover{
    transform: scale(0.9);
}

.personal-3 h3 {
    font-size: 22px;
    color: #000000;
    margin-top: 30px;
    text-align: center;
}






.personal-group-4 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

}

.personal-4 {
    text-align: center;
    padding: 20px;
}

.personal-4 img {
    width: 350px;
    border-radius: 15px;
    margin-bottom: 25px;
    margin-right: 2cm;
   transition: all 0.5s ease;
}

.personal-4 img:hover{
    transform: scale(0.9);
}

.personal-4 h3 {
    font-size: 22px;
    color: #000000;
    margin-top: 30px;
    text-align: center;
}





.footer-bg {
   
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 0; 
}


.services {
    padding: 100px 0;
    text-align: center;
    

}

.services-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 150px;
    font-size: 50px;
}


hr {
    border: 1px solid #CF2D3A;
    width: 500px;

}
.services-txt h2 {
    padding: 20px 100px;
    color: #000000;

}

.services-group {
    display: flex;
    justify-content: space-between;
    margin: px 0;
    margin-bottom: 60px;

}

.services-1 {
    background-color: #910a0a;
    padding: 20px 20px;
    margin: 10px 10px;
    border-radius: 50px;
}

.services-1 img {
    width: 350px;
    margin: 10px;
    transition: 3s;
    height: 250px;
}

.services-1 h4 {
    font-size: 20px;
    color:#FFFFFF;
    text-align: center;
}

.services-1 a {
    color: #CF2D3A;
    font-size: 16px;
}


.personal-1-1{ 
    text-align: center;
    font-size: 20px;
}
 
.personal-1-1 p{   
    text-align: center;
    
    padding: 30px;
    background-color: #680D0D; 
    
}

.personal-1-1 a{
    font-size: 15px;
    color: #faf7f7; 
}




    
    .personal-group{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }

    

    .personal-1 figure{
       position:relative;
        height: 250px;
        cursor: pointer;
        width: 350px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    }
    .personal-1 figure img{
        width: 100%;
        height: 100%;
        transition: all 400ms ease-out;
        will-change: transform;
        
    }
    .personal-1 figure .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(168, 12, 12, 0.7);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
    }
    .personal-1 figure:hover > .capa {
        opacity: 1;
        visibility: visible;
    }
    .personal-1 figure:hover > .capa h3{
        margin-top: 70px;
        margin-bottom: 30px;
    }
    .personal-1 figure:hover > img{
        transform: scale(1.3);
    }
    
    .personal-1 figure .capa p{
        color: #fff;
        font-size: 15px;
        line-height: 1.5;
        width: 80%;
        max-width: 220px;
        margin-top: 75px ;
        margin-left: 75px;
        text-align: justify;
        
     }


     .personal-group-2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }
    .personal-2 figure{
       position:relative;
        height: 250px;
        cursor: pointer;
        width: 350px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    }
    .personal-2 figure img{
        width: 100%;
        height: 100%;
        transition: all 400ms ease-out;
        will-change: transform;
    }
    .personal-2 figure .capa2{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(168, 12, 12, 0.7);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
    }
    .personal-2 figure:hover > .capa2 {
        opacity: 1;
        visibility: visible;
    }
    .personal-2 figure:hover > .capa2 h3{
        margin-top: 70px;
        margin-bottom: 30px;
    }
    .personal-2 figure:hover > img{
        transform: scale(1.3);
    }
    
    .personal-2 figure .capa2 p{
       color: #fff;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin-top: 50px ;
        margin-left: 75px;
        text-align: justify;
     }


     .personal-group-3{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }
    .personal-3 figure{
       position:relative;
        height: 250px;
        cursor: pointer;
        width: 350px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    }
    .personal-3 figure img{
        width: 100%;
        height: 100%;
        transition: all 400ms ease-out;
        will-change: transform;
        margin-left: 0px;
    }
    .personal-3 figure .capa3{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(168, 12, 12, 0.7);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
    }
    .personal-3 figure:hover > .capa3 {
        opacity: 1;
        visibility: visible;
    }
    .personal-3 figure:hover > .capa3 h3{
        margin-top: 70px;
        margin-bottom: 15px;
    }
    .personal-3 figure:hover > img{
        transform: scale(1.3);
    }
    .personal-3 figure .capa4 h3{
        color: #fff;
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 400ms ease-out;
         margin-top: 30px;
    }
    .personal-3 figure .capa3 p{
        color: #fff;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin-top: 50px ;
        margin-left: 75px;
        text-align: justify;
     }

     .personal-group-4{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
       
    }
    .personal-4 figure{
       position:relative;
        height: 250px;
        cursor: pointer;
        width: 350px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
        margin-left: 13%;
    }
    .personal-4 figure img{
        width: 100%;
        height: 100%;
        transition: all 400ms ease-out;
        will-change: transform;
    }
    .personal-4 figure .capa4{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(168, 12, 12, 0.7);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
    }
    .personal-4 figure:hover > .capa4 {
        opacity: 1;
        visibility: visible;
    }
    .personal-4 figure:hover > .capa4 h3{
        margin-top: 70px;
        margin-bottom: 15px;
    }
    .personal-4 figure:hover > img{
        transform: scale(1.3);
    }
    .personal-4 figure .capa4 h3{
        color: #fff;
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 400ms ease-out;
         margin-top: 30px;
    }
    .personal-4 figure .capa4 p{
        color: #fff;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin-top: 30px ;
        margin-left: 75px;
     }